/*-------------------------*//*global text styles & classes *//*-------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

/*define basic elements*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

*{
	margin:0;
	padding:0;
}

html{
	font-size: 100%; /* :hack: make IE resize text nicely */
}

body{
	font: 13.34px helvetica,arial,freesans,clean,sans-serif;
	color:#000;
}

/*headings*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

h1, h2, h3, h4, h5{
	margin:0 0 10px;
}

h1{
	
}

h2{

}

h3{
	
}

h4{
	
}

h5{
	
}

/*paragraphs etc*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

p{
	margin:0 0 10px;
}

address{
	font-style:normal;
	margin:0 0 10px;
}

blockquote{
	margin-left:40px;
}

cite{
	
}

/*list styles*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

ol, ul {
	margin:0 0 10px 30px;	
}

/*definition list styles*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

dl{
	
}

dt{
	clear:left;
	float:left;
	width:10em;
}
	
dd{
	
}

/*link styles*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

a {
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: underline;
}

a img{
	border: 0;
}

#skiplinks {
	margin: 0;
	list-style: none;
}

#skiplinks a {
	border: 1px solid #665;
	background: #fff;
	padding: 7px 5px;
	position: absolute;
	top: 10px;
	left: -9999px;
	font-size: 1.3em;
	font-weight: bold;
	z-index: 10;
}
#skiplinks a:focus, #skiplinks a:active {
	left: 20px;
	text-decoration: none;
	border-color: #666; /* IE requires a border-color change (!?) for this to work */
}

/*image replacement*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/
.replace{ 
	position:relative; 
	overflow:hidden;
} 

.replace span{ 
	display:block; 
	position:absolute; 
	top:0; 
	left:0;
}

a.replace span{
	cursor:pointer;
}

/*general custom classes*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/

.dotrule{
	height:1px; 
	font-size:1px;
	background:url(images/dot.gif) repeat-x; 
	clear:both;
	margin:5px 0;
}

.dotrule hr {
	display: none;
}
	
.right{
	float:right;
}

.left{
	float:left;
}

.thumb{
	border:1px solid #999;
	padding:1px;
}

.thumb.left{
	margin:0 15px 15px 0;
}

.thumb.right{
	margin:0 0 15px 15px;
}

.clear{
	clear:both;
}

.intro{
	font-weight:bold;
}
#repo_listing {clear: both;}
.filter li {float: left; padding:10px; border:1px solid: #dedede; background: #eee;list-style:none;}
li a.selected {font-weight: bold;}
#dashboard ul.repo_list .public {
	background: url("/images/icons/public.png") no-repeat scroll 10px 8px #fff;
}
#dashboard ul.repo_list .private {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/icons/private.png") no-repeat scroll 10px 8px #FFFEEB;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-style: none none solid;
    border-width: medium medium 1px;
}
#dashboard ul.repo_list li {
    display: block;
    margin: 0;
    padding:10px;
padding-left:22px;
}
#dashboard ul.repo_list li a .repo {
    font-weight: bold;
}

ul.repo_list li a {
    background: url("/images/modules/repo_list/arrow-40.png") no-repeat scroll 97% 50% transparent;
    
    font-size: 14px;
    padding: 6px 10px 5px;
}

a {
    color: #4183C4;
    text-decoration: none;
}


.commits li {
    list-style-type: none;
    margin-left: 3.5em;
    margin-top: 0.25em;
	margin-left:0px;
	padding-left:0px;
}
.code_line {margin: 0px !important;padding:0px !important; background: #eee; height:20px;
	font-size: 0.9em;
	font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
	}
	
.line_num { background-color: #EAF2F5;
    color: #999999;}

.subtraction {	background-color: #FFDDDD;
	    color: #000000;}
	
.addition {		background-color: #DDFFDD;
		    color: #000000;}

.commits ul 
{
	margin-left:0px;
	padding-left:0px;
}

.commits img {
    background-color: white;
    border: 1px solid #D0D0D0;
    margin: 0 3px;
    padding: 1px;
    vertical-align: middle;
}

.message {
    color: #444444;
    display: inline;
}