<%= stylesheet_link_tag 'core', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'layout', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'form', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'print', :media => 'print' %>